<app-header></app-header>
<div class="container">
    <form [formGroup]="editorform" (ngSubmit)="putForm(editorform.value)">
        <div class="form-group row">
            <div class="col">
                <label for="exampleFormControlInput1">Tipo de documento</label>
                <input type="text" class="form-control" placeholder="Tipo de documento" formControlName="tipoId">
            </div>
            <div class="col">
                <label for="exampleFormControlInput1">Documento de identidad</label>
                <input type="text" class="form-control" placeholder="Documento de identidad" formControlName="id">
            </div>
        </div>
        <div class="form-group">
            <div class="form-group row">
                <div class="col">
                    <label for="exampleFormControlInput1">Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
                </div>
                <div class="col">
                    <label for="exampleFormControlInput1">Apellido</label>
                    <input type="text" class="form-control" placeholder="Apellido" formControlName="apellido">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group row">
                <div class="col">
                    <label for="exampleFormControlInput1">Correo</label>
                    <input type="text" class="form-control" placeholder="Correo electronico" formControlName="correo">
                </div>
                <div class="col">
                    <label for="exampleFormControlInput1">Fecha de nacimiento</label>
                    <input type="text" class="form-control" placeholder="Fecha de nacimiento" formControlName="fechaNac">
                </div>
                <div class="col">
                    <label for="exampleFormControlInput1">Estado</label>
                    <input type="text" class="form-control" placeholder="Estado" formControlName="estado">
                </div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-secondary btn-sm">Guardar</button>
    </form>
</div>
<app-footer></app-footer>
