<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>-->

    <!-- Login Form -->
    <div class="form-group">
      <form [formGroup]="loginForm" (ngSubmit)="loginPost(loginForm.value)">
        <input type="text" class="form-control" formControlName="userName" placeholder="userName">
        <input type="password" class="form-control" formControlName="password" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  </div>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="http://localhost:4200/newUser">Registrar usuario</a>
    </div>

  </div>
</div>
